<h1>Edit a task</h1>

<%= form_for @task do |f| -%>
  <p> <%= f.label :title %>
  <%= f.text_field :title %> </p>
  <p> <%= f.label :details %>
  <%= f.text_area :details %> </p>
  <p> <%= f.label 'Is it done ?' %>
  <%= f.check_box :completed %> </p>
  <%= f.submit %>
<% end %>
